parameters:
	ignoreErrors:
		-
			message: "#^Property Surfnet\\\\StepupBundle\\\\Monolog\\\\Handler\\\\PrimaryLogHandler\\:\\:\\$streamHandler is never written, only read\\.$#"
			count: 1
			path: ../../src/Monolog/Handler/PrimaryLogHandler.php

		-
			message: "#^Method Surfnet\\\\StepupBundle\\\\Value\\\\PhoneNumber\\\\CountryCodeListing\\:\\:asArray\\(\\) should return array\\<string\\> but returns array\\<Surfnet\\\\StepupBundle\\\\Value\\\\PhoneNumber\\\\Country\\>\\.$#"
			count: 1
			path: ../../src/Value/PhoneNumber/CountryCodeListing.php
